
*
{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header,footer 
{
    height: 50px;
    width: 100%;
    position: fixed;
}
header 
{
    background-color: #f35136;
    top: 0;
}

footer
{
    background-color: #222;
    bottom: 0;
}

main
{
    padding-top: 60px;
}

.nav
{
    display: inline-block;
    padding: 10px;
}

.navicon 
{
    display: inline-block;
    float: right;
}

.nav a, footer p{
    color: white;
    font-size: 26px;
}

#login
{
    padding-right: 20px;
}

#login img
{
    height: 40px;
    margin-top: 5px;
}

footer p {
    padding-left: 10px;
    font-size: 18px;

}

h1 
{
    text-align: center;
}

section {
    width: 70%;
    margin: 0 auto;
}

